{% extends "master.html" %}

{% block title %}
  My Tennis Club
{% endblock %}


{% block content %}
  <h1>My Tennis Club</h1>

  <h3>Members</h3>
  
  <p>Check out all our <a href="members/">members</a></p>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXj_SeBRLAzkA0geegV2IuJ6PduuqcfwOmLBJNyd2oEQ&s=10" width="200"></img>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-nEGVrzPaiU?si=J33ua8rBkCCU4BfX&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <a> teste </a>

  
{% endblock %}

